*{
  background-color: gray;

}
.hline {

  text-align:center;
  border-top:solid black;
  border-bottom:solid white;
  border-width:thin;
  background-color: gray;

}

.menu  {
  border:dashed black;
  width:300px;
  height:300px;


}

.menu li{
margin: 0px 0px 3px 0px;
width: -50px;
}

.div1{
  display:inline-block;
  width:500px;
}

#div1{
  margin-top: -20px;
}
